[global_config]
  title_transmit_bg_color = "#555753"
[keybindings]
  reset = <Primary><Alt>r
  split_horiz = <Primary><Shift>b
  split_vert = <Primary><Shift>r
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.92
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Monospace 9
    use_system_font = False
    use_theme_colors = True
